# Created by https://www.toptal.com/developers/gitignore/api/phpunit,cakephp,web
# Edit at https://www.toptal.com/developers/gitignore?templates=phpunit,cakephp,web

.env
.tmp

### VisualStudioCode ###
.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Build data
/build/
/.idea/

# End of https://www.toptal.com/developers/gitignore/api/phpunit,cakephp,web
